<div class="site-header">
  <div class="site-header-content">
    <div class="site-brand">
      <a class="page-brand" href="{{ site.baseurl }}/"><h2>Dennis Wai</h2></a>
    </div>
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-navicon fa-lg"></i>
      </a>
      <div class="trigger">
        <a class="page-link" href="{{ "/resume/" | prepend: site.baseurl }}">resume</a>
        <a class="page-link" href="{{ "/research/" | prepend: site.baseurl }}">research</a>
        <a class="page-link" href="{{ "/portfolio/" | prepend: site.baseurl }}">portfolio</a>
        <a class="page-link" href="{{ "/photography/" | prepend: site.baseurl }}">photography</a>
      </div>
    </nav>
  </div>
</div>
